<%- include("../includes/head.ejs") %>
</head>

<body>
<%- include("../includes/navigation.ejs") %>
<main>
    <% if(orders.length <= 0) { %>
    <h1>Orders</h1>
    <% } else { %>
<h1><% orders.forEach(order: {orderItems} => {  %> </h1>
<li><%= order.id %> </li>
<ul><% order.orderItems.forEach(item => {%> 
    <li> <% item.title %>  ( <% item.quantity %>)</li>
<% )}  %>
</ul>
    <%  }) %>
        <% } %>
</main>
<%- include('../includes/end.ejs') %>